body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #1abc9c;
    color: white;
    padding: 30px;
    text-align: center;
}

nav {
    background-color: #16a085;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 8px;
}

footer {
    background-color: #1abc9c;
    color: white;
    text-align: center;
    padding: 10px;
}
